@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Merriweather', serif;
    overflow-x: hidden; 
  }
  
  .container {
    width: 100%; 
    max-width: 1200px;
    margin: 0 auto; 
  }
